
$spacers: (0:0);

$grid-breakpoints: (
        xs: 0,
        sm: 360px,
        md: 767px,
        lg: 1280px,
        xl: 1920px,
        xxl: 2560px,
);


$baseColors: (
        "PurplePrimary1": #6F57D6,
        "PurplePrimary2": #111,
);


