
@import "src/styles/utils/containers";


.container {
  @include defaultBorderBack;

  border-radius: 8px;
}

.title {
  margin: 18px 16px ;
}


.progressbar {

  border-radius: 0 0 30px 30px;
  width: 33%;
  height: 3px;

  background-color: map-get($baseColors, 'PurplePrimary3');
}

.step {
  padding: 4px 6px 2px 6px;
  border-radius: 48px;
  background-color: map-get($baseColors, 'PurplePrimary3');

  left: 32%;
  bottom: -7px;

  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}